<header class="page-header">
    <nav class="navbar navbar-expand-lg justify-content-around">
        <a asp-action="Index" asp-controller="Dashboard" class="navbar-brand main-logo">
            Zaplanuj <span>Jedzonko</span>
        </a>
        <ul class="nav nounderline text-uppercase">
            @await Html.PartialAsync("_AccountNavPartialView")
            <li class="nav-item ml-4">
                <a class="nav-link" asp-action="Info" asp-controller="Home">o aplikacji</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link disabled" asp-action="Recipe" asp-controller="Home">Przepisy</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link disabled" asp-action="Contact" asp-controller="Home">Kontakt</a>
            </li>
        </ul>
    </nav>
</header>