@model AddRecipeToPlanViewModel
@{
    ViewData["Title"] = "AddRecipe";
}

            <div class="m-4 p-3 width-medium">
                <div class="dashboard-content border-dashed p-3 m-4 view-height">
                    <div class="schedules-content">
                        <form asp-action="AddRecipe" asp-controller="Plan">
                            <div class="row border-bottom border-3 p-1 m-1">
                                <div class="col noPadding">
                                    <h3 class="color-header text-uppercase">DODAJ PRZEPIS DO PLANU</h3>
                                </div>
                                <div class="col d-flex justify-content-end mb-2 noPadding">
                                    <button type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Zapisz</button>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label asp-for="ChoosePlan" class="col-sm-2 label-size col-form-label">
                                    Wybierz plan
                                </label>
                                <div class="col-sm-3">
                                    <select asp-for="ChoosePlan" asp-items="Model.ChoosePlans" class="form-control" id="choosePlan">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="MealName" class="col-sm-2 label-size col-form-label">
                                    Nazwa posiłku
                                </label>
                                <div class="col-sm-10">
                                    <input asp-for="MealName" type="text" class="form-control" value="" placeholder="Nazwa posiłku">
                                    <span asp-validation-for="MealName"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="DisplayOrder" for="number" class="col-sm-2 label-size col-form-label">
                                    Numer posiłku
                                </label>
                                <div class="col-sm-2">
                                    <input asp-for="DisplayOrder" type="text" class="form-control" value="" placeholder="Numer posiłku">
                                    <span asp-validation-for="DisplayOrder"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Recipe" class="col-sm-2 label-size col-form-label">
                                    Przepis
                                </label>
                                <div class="col-sm-4">
                                    <select asp-for="Recipe" asp-items="Model.Recipes" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="DayName" class="col-sm-2 label-size col-form-label">
                                    Dzień
                                </label>
                                <div class="col-sm-2">
                                    <select asp-for="DayName" asp-items="Model.DayNames" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
@await Html.PartialAsync("_ValidationScriptsPartialView");